<?xml version="1.0" encoding="UTF-8"?>  
    <beans xmlns="http://www.springframework.org/schema/beans"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
        xmlns:context="http://www.springframework.org/schema/context"  
        xmlns:mvc="http://www.springframework.org/schema/mvc" 
        xmlns:tx="http://www.springframework.org/schema/tx" 
        xsi:schemaLocation="  
            http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context  
            http://www.springframework.org/schema/context/spring-context.xsd  
            http://www.springframework.org/schema/mvc  
            http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx.xsd">  
      
        <!-- Provide support for component scanning -->  
        <context:component-scan base-package="com.ecommerce.controller" />  
      
        <!--Provide support for conversion, formatting and validation -->  
        <mvc:annotation-driven/>  
    <!-- Define Spring MVC view resolver -->  
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
            <property name="prefix" value="/WEB-INF/jsp/"></property>  
            <property name="suffix" value=".jsp"></property>          
         </bean>  
          <mvc:resources mapping="/resources/**" location="/WEB-INF/resources/" />
            <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">    
    <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>    
    <property name="url" value="jdbc:mysql://localhost:3306/test1"></property>    
    <property name="username" value="root"></property>    
    <property name="password" value="password"></property>    
    </bean>    
        
            <bean id="sessionFactory"  class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">  
            <property name="dataSource" ref="dataSource"></property>  
              
            <property name="annotatedClasses">
            <list>  
            <value>com.ecommerce.model.Product</value>
            <value>com.ecommerce.model.Orders</value>
          <value>com.ecommerce.model.OrderDetails</value>
            <value>com.ecommerce.model.Accounts</value>
             <value>com.ecommerce.model.Customer</value>
            </list>  
            </property>  
              
            <property name="hibernateProperties">  
                <props>  
                    <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>  
                     <prop key="hibernate.hbm2ddl.auto">update</prop>  
                    <prop key="hibernate.show_sql">true</prop>  
                      
                </props>  
            </property>  
        </bean> 
        <tx:annotation-driven transaction-manager="transactionManager" />
        <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        
        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        </bean>
         <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="sanjanashivanna39@gmail.com"/>
        <property name="password" value="9916136880" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>
    </beans>  

